.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 31px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.jhonAbraham {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 14px;
    font-weight: 500;
    font-family: Caros;
}
.am {
    position: absolute;
    top: 70px;
    left: 150px;
    font-size: 10px;
    line-height: 10px;
    color: #797c7b;
}
.groupItem {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 180px;
    height: 36px;
}
.helloNazrul {
    position: absolute;
    top: 12px;
    left: 12px;
    letter-spacing: 0.01em;
    line-height: 12px;
}
.vectorParent {
    position: absolute;
    top: 26px;
    left: 10px;
    width: 180px;
    height: 36px;
    font-size: 12px;
}
.jhonAbrahamParent {
    position: absolute;
    top: 6px;
    left: 52px;
    width: 195px;
    height: 80px;
}
.rectangleParent {
    position: absolute;
    top: 84px;
    left: 0px;
    width: 247px;
    height: 86px;
    text-align: left;
    font-size: 14px;
    color: #000e08;
}
.am1 {
    position: absolute;
    top: 116px;
    left: 69px;
    font-size: 10px;
    line-height: 10px;
    color: #797c7b;
}
.rectangleIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 184px;
    height: 36px;
}
.groupChild1 {
    position: absolute;
    top: 46px;
    left: 0px;
    width: 112px;
    height: 36px;
}
.hopeYouLike {
    position: absolute;
    top: 58px;
    left: 12px;
    letter-spacing: 0.01em;
    line-height: 12px;
}
.vectorGroup {
    position: absolute;
    top: 26px;
    left: 10px;
    width: 184px;
    height: 82px;
    font-size: 12px;
}
.jhonAbrahamGroup {
    position: absolute;
    top: 6px;
    left: 52px;
    width: 194px;
    height: 126px;
}
.rectangleGroup {
    position: absolute;
    top: 284px;
    left: 0px;
    width: 246px;
    height: 132px;
    text-align: left;
    font-size: 14px;
    color: #000e08;
}
.am2 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 10px;
}
.amWrapper {
    position: absolute;
    top: 44px;
    left: 88px;
    width: 45px;
    height: 10px;
}
.groupChild2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 141px;
    height: 36px;
    object-fit: contain;
}
.helloJhonAbraham {
    position: absolute;
    top: 12px;
    left: 14px;
    letter-spacing: 0.01em;
    line-height: 12px;
}
.vectorContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 141px;
    height: 36px;
    font-size: 12px;
    color: #fff;
}
.groupContainer {
    position: absolute;
    top: 0px;
    left: 186px;
    width: 141px;
    height: 54px;
}
.amContainer {
    position: absolute;
    top: 44px;
    left: 92px;
    width: 45px;
    height: 10px;
}
.groupChild3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 145px;
    height: 36px;
    object-fit: contain;
}
.vectorParent1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 145px;
    height: 36px;
    font-size: 12px;
    color: #fff;
}
.groupDiv {
    position: absolute;
    top: 200px;
    left: 182px;
    width: 145px;
    height: 54px;
}
.am4 {
    position: absolute;
    top: 46px;
    left: 169px;
    line-height: 10px;
}
.voiceChild {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 222px;
    height: 38px;
    object-fit: contain;
}
.voiceItem {
    position: absolute;
    top: 12px;
    left: 44px;
    width: 122px;
    height: 14px;
}
.div {
    position: absolute;
    top: 13px;
    left: 176px;
    line-height: 13px;
}
.voiceInner {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 22px;
    height: 22px;
}
.voice {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 222px;
    height: 38px;
    text-align: left;
    font-size: 13px;
    color: #fff;
}
.amParent {
    position: absolute;
    top: 446px;
    left: 105px;
    width: 222px;
    height: 56px;
}
.groupParent {
    position: absolute;
    top: -6px;
    left: 24px;
    width: 327px;
    height: 502px;
    text-align: right;
}
.messageChild {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 5px 20px rgba(17, 18, 34, 0.02);
    background-color: #fff;
    width: 375px;
    height: 124px;
}
.excludeIcon {
    position: relative;
    width: 17px;
    height: 10.7px;
}
.excludeIcon1 {
    position: relative;
    width: 15.3px;
    height: 11px;
}
.vectorIcon {
    position: absolute;
    height: 36.36%;
    width: 5.26%;
    top: 36.36%;
    right: 0.27%;
    bottom: 27.27%;
    left: 94.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.4;
    mix-blend-mode: normal;
}
.rectangle {
    position: absolute;
    height: 100%;
    width: 89.07%;
    top: 0%;
    right: 10.93%;
    bottom: 0%;
    left: 0%;
    border-radius: 2.67px;
    border: 1px solid #000;
    box-sizing: border-box;
    opacity: 0.35;
    mix-blend-mode: normal;
}
.rectangle1 {
    position: absolute;
    height: 63.64%;
    width: 72.87%;
    top: 18.18%;
    right: 19.03%;
    bottom: 18.18%;
    left: 8.1%;
    border-radius: 1.33px;
    background-color: #000;
}
.group {
    position: absolute;
    height: 25%;
    width: 6.59%;
    top: 38.64%;
    right: 6.48%;
    bottom: 36.36%;
    left: 86.93%;
}
.div1 {
    position: absolute;
    width: 100%;
    top: calc(50% - 4.5px);
    left: 0%;
    letter-spacing: -0.24px;
    line-height: 20px;
    font-weight: 500;
    display: inline-block;
}
.frame {
    position: absolute;
    height: 47.73%;
    width: 14.4%;
    top: 15.91%;
    right: 80%;
    bottom: 36.36%;
    left: 5.6%;
}
.statusBar {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(20px);
    width: 375px;
    height: 44px;
    text-align: center;
    font-size: 15px;
    color: #000;
    font-family: Roboto;
}
.videoIcon {
    position: absolute;
    height: 54.55%;
    width: 7.34%;
    top: 22.73%;
    right: 0%;
    bottom: 22.73%;
    left: 92.66%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.tabBarUihutChild {
    position: absolute;
    top: 0px;
    left: 36px;
    border-radius: 31px;
    width: 44px;
    height: 44px;
    object-fit: cover;
}
.tabBarUihutItem {
    position: absolute;
    top: 32px;
    left: 70px;
    border-radius: 50%;
    background-color: #2bef83;
    width: 8px;
    height: 8px;
}
.backIcon {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 24px;
    height: 24px;
}
.jhonAbraham2 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 16px;
    font-weight: 500;
}
.activeNow {
    position: absolute;
    top: 22px;
    left: 0px;
    font-size: 12px;
    line-height: 12px;
    font-family: 'Circular Std';
    color: #797c7b;
}
.jhonAbrahamContainer {
    position: absolute;
    top: 5px;
    left: 92px;
    width: 116px;
    height: 34px;
}
.callIcon {
    position: absolute;
    height: 54.55%;
    width: 7.34%;
    top: 22.73%;
    right: 12.23%;
    bottom: 22.73%;
    left: 80.43%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.tabBarUihut {
    position: absolute;
    height: 5.42%;
    width: 87.2%;
    top: 7.39%;
    right: 6.4%;
    bottom: 87.19%;
    left: 6.4%;
    font-size: 16px;
    color: #000e08;
    font-family: Caros;
}
.bottomChild {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border: 1px solid #eefaf8;
    box-sizing: border-box;
    width: 375px;
    height: 80px;
}
.clipAttachmentIcon {
    position: absolute;
    height: 30%;
    width: 6.4%;
    top: 35%;
    right: 87.2%;
    bottom: 35%;
    left: 6.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.bottomItem {
    position: absolute;
    top: 20px;
    left: 59px;
    border-radius: 12px;
    background-color: #f3f6f6;
    width: 236px;
    height: 40px;
}
.make {
    position: absolute;
    top: 34px;
    left: 71px;
    line-height: 12px;
}
.filesIcon {
    position: absolute;
    height: 30%;
    width: 6.4%;
    top: 35%;
    right: 23.47%;
    bottom: 35%;
    left: 70.13%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.bottom {
    position: absolute;
    top: 646px;
    left: 0px;
    width: 375px;
    height: 80px;
    font-size: 12px;
    color: #0f0c22;
}
.messageItem {
    position: absolute;
    top: 536px;
    left: 311px;
    width: 40px;
    height: 40px;
}
.message {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 812px;
    overflow: hidden;
    text-align: left;
    font-size: 10px;
    color: #797c7b;
    font-family: 'Circular Std';
}

